
<body>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href=""><img src="img/logo.png" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="img/icons/search.png" alt="" class="search-trigger">
                    <img src="img/icons/man.png" alt="">
                    <a href="carrito">
                        <img src="img/icons/bag.png" alt="">
                        <span></span>
                    </a>
                </div>
                <div class="user-access">
                    <a href="register">Register</a>
                    <a href="login" class="in">Sign in</a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="">Home</a></li>
                        <li><a href="/allProducts">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="/allProducts">Todos Los Productos</a></li>
                            </ul>
                        </li>
                        <li><a href="/product-page.html">Quienes Somos</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>